article {
   width: 49%;
   border: 20px solid #2d2d2d;
   float: left;
   padding: 0;
   margin-left: 2%;

   margin-bottom: 25px;
   clear: none;
 }
 article div{
  padding: 5px 20px  ;
     min-height: 250px;
 }
 article:nth-of-type(2n+1) {
   margin-left:  0px;
 
 }
 
section h1 { margin : 0 20px ; padding: 20px 0 }