article {
   width: 32%;
   border: 20px solid #2d2d2d;
   float: left;
   padding: 5px 20px  ;
   margin-left: 2%;
   min-height: 300px;
   margin-bottom: 25px;
 }
  article:first-of-type {
   margin-left:  0px;
 }
 
section h1 { margin : 0 20px ; padding: 20px 0 }