.hbox {
   width: 32%;
   border: 20px solid #2d2d2d;
   float: left;

   margin-left: 2%;
  
   margin-bottom: 25px;
 }
 .hbox div{
      padding: 5px 20px  ;
       min-height: 250px;
 }
  .hbox:first-of-type {
   margin-left:  0px;
 }
 
section h1 { margin : 0 20px ; padding: 20px 0 }