 .mainclr {
   clear: both;
   height: 0;
   line-height: 0;
   font-size: 0;
   margin: 0;
   padding: 0;
   display: block;
 }
 
 html {
   background: #000
 }
 a { color: #75B338 }
 body {
   margin: 0;
   padding: 0;
   color: #404040;
   font-size: 90%;
   font-family: sans-serif;
 }
 
 #logo {
   display: block;
   width: 126px;
   height: 136px;
   padding: 0;
   margin: 0px 0 0 0px;
   font-size: 120%;
   overflow: hidden;
   position: absolute;
   left: 50%;
   margin-left: -63px;
   top: -32px;
 }
 
 #logo a {
   color: #000;
   width: 126px;
   height: 136px;
   text-decoration: none;
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   line-height: 55px;
   padding-left: 10px;
   display: block;
   background: transparent url(../images/logo.png) no-repeat left 0px;
   background-size: cover;
 }
 
 #logo span {
   position: absolute;
   top: -1500px;
 }
 #terminytext { position: relative; }
 nav > div {
   width: 1250px;
   margin: 0 auto;
   height: 100px;
 }
 
 footer div {
   width: 1230px;
   margin: 0 auto;
   height: 100%;
   padding: 20px;
   position: relative;
 }
 
 footer div span {
   width: 32%;
   floaT: left;
   display: block;
   color: #e7e7e7;
 }
 
 footer div span.right {
   float: right;
   text-align: right;
   position: absolute;
   bottom: 10px;
   right: 20px;
   color: #404040;
 }
 
 footer div span.right a {
   color: #404040;
 }
 
 footer div span span {
   width: auto;
   float: left;
 }
 
 footer div span span.break {
   clear: left;
 }
 
 footer .not {
   display: none;
 }
 
 footer .logodown {
   line-height: 50px;
 }
 
 footer .logodown img {
   float: left;
   margin-right: 1em;
 }
 
 footer a:hover {
   text-decoration: none;
 }
 
 footer a {
   color: #e7e7e7;
 }
 
 nav ul {
   margin: 0 0 0 0;
   padding: 0 0 0 20px;
   list-style-type: none;
   line-height: 25px;
   height: 25px;
   font-size: 110%;
 }
 
 nav ul ul {
   display: none
 }
 
 nav ul li {
   float: left;
   display: inline-block;
   margin-right: 3px;
   padding-right: 0em;
 }
 
 nav ul li a {
   text-decoration: none;
   color: #fff;
   padding: 5px 15px;
   display: inline-block;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   font-family: 'Open Sans', sans-serif;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
 }
 
 nav ul li a:hover {
   color: #fff;
   background: #75B338;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
   /* text-shadow: 1px 1px 2px rgba( 0, 0, 0, 1);*/
 }
 
 nav ul li a.active {
   background: #2d2d2d;
 }
 
 nav ul li a.active:hover {
   color: #fff;
 }
 
 nav ul li span a {
   padding: 3px 10px;
 }
 
 #menu li span {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
 }
 
 #slideshow {
   height: 360px;
   clear: left;
   width: 100%;
   position: relative;
   width: 100%;
   margin: 0 auto;
 }
 
 #overslide {
   height: 400px;
   clear: left;
   width: auto;
   position: relative;
   overflow: hidden;
   margin-top: 80px;
   width: calc(100% - 40px);
   margin: 0 20px;
 }
 
 #slideshow .slide {
   background: url('../banners/banner.jpg') no-repeat center center;
   position: absolute;
   background-size: cover;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   opacity: 0;
 }
 
 #slideshow .show {
   opacity: 1;
 }
 
 #slideshowmover, #slideshowleftmover {
   position: absolute;
   z-index: 897;
   top: 150px;
   right: 24px;
   width: 80px;
   height: 80px;
   display: block;
   cursor: pointer;
   color: #fff;
   font-size: 220%;
   text-align: center;
   background: transparent;
   text-decoration: none;
   filter: alpha(opacity=45);
   opacity: 0.25;
   font-size: 70px;
 }
 
 #slideshowmover:hover, #slideshowleftmover:hover {
   filter: alpha(opacity=100);
   opacity: 1;
 }
 
 #slideshowleftmover {
   left: 24px;
 }
 
 #slideshowmover em {
   display: block;
   width: 8px;
   height: 8px;
   border: 2px solid #fff;
   webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   position: relative;
   margin-top: 245px;
   float: right;
   margin-right: 5px;
   background: #fff;
   display: none;
 }
 
 #slideshowmover em.this {}
 
 #slideshow .slide .caption {
   width: auto;
   max-width: 50%;
   display: block;
   text-align: left;
   color: #fff;
   position: absolute;
   top: 50px;
   text-shadow: 1px 2px 3px #000;
   left: 50%;
   margin-left: -480px;
   font-family: 'Open Sans', sans-serif;
   background: transparent;
   font-size: 16px;
   border: none;
   background: rgba(117, 179, 56, 0.6)
 }
 
 #slideshow .slide .caption div {
   min-height: 0;
 }
 
 #slideshow .slide .caption ul {
   margin: 0 0 0 1em;
   padding: 0;
 }
 
 #slideshow .slide .caption strong {
   display: block;
   font-size: 250%;
   font-weight: normal;
 }
 
 #slideshow .slide .caption h2 {
   color: #fff;
   font-size: 45px;
   xfont-style: italic;
   font-weight: 800;
   margin-top: 0px;
   text-transform: uppercase;
   margin-bottom: 0;
 }
 
 #slideshow .slide .caption a {
   color: #fff;
   text-decoration:  none;
 }
 
 header, nav {
   /*
-webkit-box-shadow: 0px 11px 44px -25px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 11px 44px -25px rgba(0,0,0,0.75);
box-shadow: 0px 11px 44px -25px rgba(0,0,0,0.75);
*/
 }
 
 #menu li span {
   font-size: 90%;
   font-weight: normal;
   margin: 0.5em 0 0.5em -5px;
   display: none;
   background: #f2f2f2;
   position: absolute;
   /*
-webkit-box-shadow: 1px 10px 13px -1px rgba(0,0,0,0.55);
-moz-box-shadow: 1px 10px 13px -1px rgba(0,0,0,0.55);
box-shadow: 1px 10px 13px -1px rgba(0,0,0,0.55);*/
 }
 
 #menu li span a:hover {
   background: none;
   color: #75B338;
 }
 
 #menu li span.opened {
   display: block;
 }
 
 #menu li span a {
   display: block;
   color: #fff;
   text-transform: none;
   padding-left: 10px;
   padding-right: 15px;
   font-size: 1.1em;
   margin-left: 5px;
 }
 
 #menu li span a:hover {
   text-decoration: underline;
   /*background: url('../images/menuspana.gif') no-repeat 5px center;*/
   text-shadow: none;
 }
 
 h2.webname {
   display: none;
 }
 
 h1 {
   font-family: 'Open Sans', sans-serif;
   font-size: 35px;
   color: #75B338;
   margin-top: 0;
   font-weight: 800;
   text-transform: uppercase;
 }
 
 .fakeh2, #sidemenu h2, #text h2 {
   font-family: 'Open Sans', sans-serif;
   font-size: 140%;
   font-weight: normal;
   color: #75B338;
   margin-bottom: 0em;
 }
 
 #sidemenu h3, #text h3 {
   font-family: 'Open Sans', sans-serif;
   font-size: 130%;
   font-weight: normal;
   color: #000;
 }
 
 footer h4 {
   color: #75B338;
   font-family: 'Open Sans', sans-serif;
   font-size: 130%;
   font-weight: 200;
   margin: 0 0 0.5em 0;
 }
 
 #sidemenu a, #text a {
   color: #000;
 }
 
 #sidemenu a:hover, #text a:hover {
   color: #75B338;
   text-decoration: none;
 }
 
 #sidemenu, #dmsproject, #homeleft {
   width: 30%;
   float: left;
   margin-top: 0;
 }
 
 #dmsproject {
   margin-top: 30px;
 }
 
 #text.isbox, #projectleft, #left, #aktuality {
   width: 65%;
   float: right;
   margin-left: 5%;
 }
 
 p {
   margin: 0;
 }
 
 table.dms {
   border: 4px solid #fff;
   border-collapse: collapse;
   margin-top: 1em;
   width: 100%;
 }
 
 table.dms th, table.dms td {
   border: 1px solid #fff;
   border-collapse: collapse;
   padding: 5px 8px;
   vertical-align: top;
 }
 
 table.dms th {
   background: #fff;
   padding: 8px;
   color: #404040;
   text-align: left;
 }
 
 table.long {
   /* width: 500px;*/
 }
 
 td.r {
   text-align: right;
 }
 
 a.top, a.down {
   height: 1em;
   width: 7px;
   margin: 0 3px;
   background: url('../images/top.gif') no-repeat left center;
   float: right;
   display: block;
 }
 
 a.down {
   background: url('../images/down.gif') no-repeat left center;
 }
 
 form, fieldset {
   margin: 0;
   padding: 0;
   border: none;
 }
 
 form#formsrch {
   float: right;
 }
 
 #dmsproject h4, .biglink {
   color: #ec840a!important;
   font-size: 200%;
   background: #efefef;
   border: 1px solid #cfcfcf;
   border-radius: 3px;
   display: block;
   padding: 15px;
   margin-top: 0px;
   font-family: 'Open Sans', sans-serif;
   margin-bottom: 0.5em;
 }
 
 #text a.biglink {
   display: block;
   padding: 15px 30px;
   background: #F7921C;
   color: #fff!important;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   float: left;
   margin: 10px 0 20px 0;
   font-size: 120%;
 }
 
 a.biglink:hover {
   background: #707070;
 }
 
 img.logo {
   background: #fff;
   padding: 1em;
   border: 1px solid #cfcfcf;
   border-radius: 3px;
 }
 
 a.back {
   clear: left;
   display: block;
   margin-top: 1em;
 }
 
 .miniboxxx {
   margin-bottom: 1em;
   padding-bottom: 1em;
   border-bottom: 1px dotted #736d67;
 }
 
 .miniboxxx .datebox span {
   float: left;
 }
 
 .miniboxxx .datebox span:after {
   content: '.';
   margin-right: .5em
 }
 
 .miniboxxx .datebox em {
   margin-left: .5em;
   font-style: normal
 }
 
 #mini-menu {
   background: #efefef;
   height: auto;
   width: auto;
   float: right;
   margin: 0;
   padding: 25px;
   width: 0px;
   display: none;
   z-index: 800;
   position: absolute;
   height: 100vh;
   overflow: auto;
   max-width: 100%!important;
 }

 #mini-menu li {
   display: block;
   margin-left: 1em;
   clear: left;
   border-right: 0px solid #736d67;
   border-bottom: 1px solid #e7e7e7;
   margin-bottom: 0.5em;
   padding-bottom: 0.5em;
   width: 90%;
   margin-right: 1em;
 }
 
 #mini-menu span {
   display: block;
   margin-left: 0em;
 }
 
 #mini-menu a {
   width: 100%;
   text-decoration:  none;
   padding: 3px 5px
 }
 #mini-menu a:hover {
    background: #75B338;
    color: #fff;
 }
 #mini-menu span a {
   display: block;
 }
 
 #startmenu {
   display: none;
   cursor: pointer;
   background-color: #75B338;
   background-image: url('../images/mini-menu.png');
   background-position: center center;
   background-repeat: no-repeat;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   width: 45px;
   height: 35px;
   margin:40px 25px 0 0;
   floaT: right;
   position: absolute;
   right: 0px;
   top: 23px;
   z-index: 1000;
 }
 
 #slideshow .slide .caption a:hover {
   text-decoration: none;
 }
 
 a.biglink {
   display: block;
   padding: 15px 30px;
   color: #fff!important;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   float: left;
   margin: 10px 0 20px 0;
   font-size: 120%;
 }
 
 #text form h2 {
   margin-bottom: 1em;
 }
 
 #logged {
   float: right;
 }
 
 #insidebox {
   margin-top: 1em;
 }
 
 .pager, .pagerrim, .pagerselected {
   display: block;
   float: left;
   margin-left: 2px;
   padding: 0.2em;
   min-width: 1.5em;
   width: auto!important;
   height: 1.7em;
   line-height: 1.3em;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   color: #fff;
   background: #000;
 }
 
 .pagerrim {
   width: auto!important;
   padding: 0.2em 0.5em 0.2em 0.5em;
 }
 
 .pagerselected {
   color: #fff;
   background: #75B338;
 }
 
 a.pager:hover, a.pagerrim:hover {
   color: #fff !important;
   background: #75B338;
   width: auto!important;
 }
 
 #newsearch2 {
   float: left;
   clear: left;
 }
 
 #newsearch2 h4 {
   margin-bottom: 0.2em;
 }
 
 #newsearch2 form#formsrch {
   float: none;
 }
 
 section a {
   color: #cfcfcf
 }
 
 .datebox {
   color: #736d67
 }
 
 section a:hover {
   color: #75B338;
 }
 
 section h2 {
   font-weight: normal;
   color: #75B338;
   margin-bottom: 0.2em;
   font-size: 140%;
   margin-top: 10px;
 }
  section h2  {
    color: #eedf22;
    color: #75B338;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.2em;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
 
 section ul li, section ol li {
   color: #75B338;
 }
 
 section ul li span, section ol li span {
   color: #fff
 }
 
 section ul, section ol, section ul li, section ol li {
   margin: 0;
   padding: 0;
 }
 
 section ul, section ol {
   margin-left: 1em;
   margin-bottom: 1em;
 }
 
 section ul li, section ol li {
   margin-bottom: 0.5em;
 }
 
 section#content {
   width: 100%;
   margin: 0 auto;
   color: #fff;
   padding: 20px;
 }
 
 section#content-left {
   width: calc(70% - 60px);
   float: left;
   color: #fff;
   padding: 25px 25px 25px 25px;
 }
 
 section#content-right {
   width: 30%;
   float: right;
   position: relative;
   color: #fff;
   padding: 25px 25px 25px 25px;
 }
 
 section {
   padding-bottom: 25px;
 }
 
 footer span li, footer span ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 #social .social {
   display: block;
   float: right;
   margin-right: 5px;
   width: 50px;
   height: 50px;
   text-align: center;
   color: #707070;
   background: transparent;
   font-size: 50px;
   libe-height: 50px;
   text-decoration: none;
 }
 
 #social .social:hover {
   color: #3b5998;
 }
 
 #social .fa-youtube-square:hover {
   color: #CD181F
 }
 
 #social .fa-twitter-square:hover {
   color: #1da1f2
 }
 #social .fa-instagram:hover {
   color: #c72b8a
 }



 #social .social span {
   display: none;
 }
 
 #social span.right {
   text-align: right;
   float: right;
   position: absolute;
   right: 20px;
   bottom: 25px;
   font-size: 90%;
   color: #707070
 }
 
 #social span.right a {
   color: #707070
 }
 
 footer div span span.rightmargin {
   padding-right: 0.3em
 }
 
 section h2 a {
   color: #75B338;
 }
 
 section h2 a:hover {
   text-decoration: none
 }
 
 .downs {
   width: 32%;
 }
 
 #content-right .downs {
   display: block;
   float: none;
   width: 80%;
 }
 
 .downs {
   min-height: 60px;
   padding: 10px;
   margin-right: 2%;
 }
 
 .downs:nth-of-type(3n+0) {
   margin-right: 0;
 }
 
 .downs:nth-of-type(3n+1) {
   clear: left;
 }
 
 .downs {
   padding: 5px;
   margin-top: 5px;
   margin-bottom: 0.7vw;
   display: block;
   float: left;
   border: 0px solid #343536;
   font-size: 100%;
   background: #343536;
   padding: 10px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 26px;
   border-radius: 2px;
 }
 
 .downs img {
   float: left;
   margin: -5px 0 -5px -5px;
   width: 60px;
   border: none
 }
 
 .pparts .downs {
   float: left;
   margin: 0 1em 1em 0
 }
 
  h1 {
   color: #75B338;
   margin: 0 0 0 20px;
   padding: 0;
   font-size: 35px;
 }
 /*
 .fakeh2, #content-right h3 {
   color: #fff;
   z-index: 900;
   position: absolute;
   background: #75B338;
   width: auto;
   line-height: 50px;
   padding: 0 15px;
   left: 0px;
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
   top: -50px;
   font-size: 20px;
   display: block;
 }
 */

.fakeh2, section h3 {
   MARGIN-bottom: 0.3em
 }

 section img {
   float: left;
   margin: 0 1em 1em 0;
   border: 8px solid #343536;
   max-width: 100%;
 }
 
 section img.right {
   margin: 0 0 1em 1em;
   floaT: right;
 }
 
 article {
   clear: both;
 }
 
 .imggal {
   width: 32%;
   height: calc(100vw / 8);
   height: 150px;
   position: relative;
   overflow: hidden;
   float: left;
   margin-right: 1%;
   margin-bottom: 1.5%;
   border: 8px solid #343536;
   padding: 0;
 }
 
 section#content-left .imggal {
  /* height: calc(100vw / 12);*/
 }
 
 .imggal:nth-child(3n + 0) {
   margin-right: 0;
 }
 
 #main .imggal img {
   float: none;
   border: none!important;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
   height: 102%;
   -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
 }
 
 #main .imggal imgy:hover {
   float: none;
   border: none!important;
   width: 100%
 }
 
 #main .imggal a:hover img {
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
 }
 
 #nobanners {
   height: 150px;
 }
 
 #langs {
   right: 20px;
   top: 10px;
   height: auto;
   width: 45px;
   position: absolute;
   z-index: 1000;
 }
 
 #langs span, #langs p.span {
   width: 16px;
   height: 11px;
   display: block;
   float: right;
   margin-top: 22px;
   overflow: hidden;
   cursor: pointer;
   margin-right: 4px;
 }
 
 #langs span em, #langs span a {
   display: block;
   width: 16px;
   height: 11px;
   font-size: 9px;
   line-height: 12px;
   z-index: 1;
   cursor: pointer;
 }
 
 #langs span a, #langs span em.active {
   background: url('../images/gb.jpg') no-repeat 0px 0px;
   z-index: 10;
   text-decoration: none;
 }
 
 #langs span.cz a, #langs span.cz em.active {
   background: url('../images/cz.jpg') no-repeat 0px 0px;
 }
 
 #langs span em.active, #langs span.cz em.active {
   cursor: default;
 }
 
 .greyborder {
   /*
  border: 20px solid #2d2d2d;
  position: relative;
  */
   background: #2d2d2d;
   padding: 18px;
 }
  
 .greyborder:before, .greybordertxt:before {
   position: absolute;
   left: 10px;
   top: 10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 600;
 }
 .greybordertxt:before {
  
   left: -10px;
   top: -10px;
 }
 .greyborder:after,  .greybordertxt:after  {
   position: absolute;
   right: 10px;
   top: 10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 600;
   -ms-transform: rotate(-45deg);
   /* IE 9 */
   -webkit-transform: rotate(-45deg);
   /* Safari */
   transform: rotate(-270deg);
 }
.greybordertxt:after  {
   right: -10px;
   top: -10px;
}
 .greyborder div:before, .greybordertxt div:before {
   position: absolute;
   left: -10px;
   top: auto;
   bottom: -10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 600;
   -ms-transform: rotate(-90deg);
   /* IE 9 */
   -webkit-transform: rotate(-90deg);
   /* Safari */
   transform: rotate(-90deg);
 }
 
 .greyborder div:after,  .greybordertxt div:after {
   position: absolute;
   left: auto;
   top: auto;
   bottom: -10px;
   right: -10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 600;
   -ms-transform: rotate(-180deg);
   /* IE 9 */
   -webkit-transform: rotate(-180deg);
   /* Safari */
   transform: rotate(-180deg);
 }
 
 #hederlogo {
   width: 300px;
   height: 45px;
   display: block;
   background: url('../images/header-logosnew-clear.png') no-repeat left top;
   margin:20px 0 0 25px;
   position: relative;
 }
 #hederlogo a {
  display: block;
  width: 87%!important;
  height: 45px;
  display: block;
  background:   url('../images/36.png') no-repeat right top;
  background-size: contain;
  margin: 0px;
 
}
 
 #menu {
   width: auto;
   height: auto;
   text-transform: uppercase;
   min-height: 45px;
   background: #111413;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 18px;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
 }

 .inslider {
   color: #fff;
   background: #75B338;
   display: block;
   padding: 5px 10px;
   xfont-style: italic;
   font-weight: 200;
   font-family: 'Open Sans', sans-serif;
   margin-top: 10px;
   width: auto;
   display: inline-block;
 }
 
 .hbox {
   border: 20px solid #2d2d2d;
   float: left;
   margin-bottom: 25px;
   position: relative;
 }
 
 .hbox div {
   width: 100%;
   height: 100%;
   padding: 5px 20px;
   position: relative;
 }
 
 .hbox:nth-of-type(0n+3) {
   /*margin-left: 0;*/
 }
 
 section article, .project, #social {
   border: 20px solid #2d2d2d;
   padding: 0;
   position: relative;
 }
 
 .project {
   margin-bottom: 20px;
 }
 
 #social {
   margin: 0 20px;
   min-height: 20px;
   padding: 20px;
 }
 
 .hbox h2, section article h2:first-child {
   background: #252525;
   display: block;
   color: #fff;
   color: #eedf22;
   font-family: 'Open Sans', sans-serif;
   margin: -5px -20px 20px -20px;
   padding: 10px 20px;
   font-size: 20px;
   font-weight: 800;
   text-transform: uppercase;
 }
 .homepage .hbox h2  {
   background: #75B338;
   display: block;
   color: #fff;
   color: #eedf22;
   font-family: 'Open Sans', sans-serif;
   /*margin: -5px -20px 20px -20px;*/
   padding: 10px 20px;
   font-size: 17px;
   font-weight: 800;
   text-transform: uppercase;
 } 
  .homepage .hbox h2 {
   color: #fff;
 }

  .hbox h2 a{
   color: #fff;
 }

 h3 {
   color: #75B338;
   font-size: 15px;
   font-weight: 800;
   text-transform: uppercase;
 }
 .homepage .hbox h3 {
   font-size: 13px;
 }
 article div, .project div {
   width: 100%;
   height: 100%;
   position: relative;
   padding: 0 20px 20px 20px;
 }
 
 article:before, article > div:before, .hbox:before, .hbox div:before, .project:before, .project div:before, #social:before, #social div:before {
   position: absolute;
   left: -10px;
   top: -10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 600;
 }
 
 article > div:before, .hbox div:before, .project div:before, #social div:before {
   top: auto;
   bottom: -10px;
   -ms-transform: rotate(-90deg);
   /* IE 9 */
   -webkit-transform: rotate(-90deg);
   /* Safari */
   transform: rotate(-90deg);
 }
 
 article:after, article > div:after, .hbox:after, .hbox div:after, .project:after, .project div:after, #social:after, #social div:after {
   position: absolute;
   right: -10px;
   top: -10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 600;
   -ms-transform: rotate(-270deg);
   /* IE 9 */
   -webkit-transform: rotate(-270deg);
   /* Safari */
   transform: rotate(-270deg);
 }
 
 article > div:after, .hbox div:after, .project div:after, #social div:after {
   top: auto;
   bottom: -10px;
   -ms-transform: rotate(-180deg);
   /* IE 9 */
   -webkit-transform: rotate(-180deg);
   /* Safari */
   transform: rotate(-180deg);
 }
 
 .project {
   background-repeat: no-repeat;
   background-size: contain;
   background-color: #000;
 }
 
 .project > div {
    min-height: 150px;
    padding-left: 200px;
 }
 
 .project h2 {
   font-size: 25px;
   text-transform: uppercase;
   font-weight: 900;
       margin-top: 0;
    padding-top: 5px;
 }
 
 .project a {
   text-decoration: none;
 }
 
 .righta a {
   background: #75B338;
   color: #fff;
   padding: 5px 10px;
   display: block;
   position: absolute;
   right: 20px;
   bottom: 20px;
   font-weight: bold;
 }
 
 section .righta a:hover {
   color: #fff;
   text-decoration: underline;
 }
 
 article.coerver4 {
   background: url('../images/history-main.jpg') no-repeat right top;
 }
 /* sliders */
 
 #slideshow #my4 .caption {
   margin-left: -110px
 }
 
 #slideshow #my5 .caption h2 {
   display: none
 }
 
 #slideshow #my5 .caption {
   padding: 0;
   top: 60px;
   right: 20px;
   left: auto;
 }
 
 #slideshow #my5 .caption div {
   padding: 0
 }
 
 #slideshow #my1 .caption {
   width: 35%;
 }
 #slideshow #my7 .caption,  #slideshow #my8 .caption  {
   top: 150px;
   right: 40px;
   left: auto;   
 }
 .largegreen {
   color: #75B338
 }
 
 #loggedin {
   position: absolute;
   right: 0px;
   top: -27px;
   background: #75B338 url(../images/userico.png) no-repeat 7px center;
   color: #fff;
   padding: 4px 10px 4px 30px;
   border-radius: 3px;
   z-index: 1000;
   font-size: 11px
 }
 
 #loggedin a {
   color: #fff;
   text-decoration: none;
 }
 
 #loggedin a:hover {
   text-decoration: underline;
 }
 
 input, textarea, select {
   width: 250px;
   border: 1px solid #c0c0c0;
   padding: 5px 15px;
   border-radius: 3px;
   margin-top: 10px;
   background: #e2e2e2
 }
 
 fieldset .error-message, div#required {
   background: #FF4B00;
   color: white;
   opacity: 0;
   font-size: 14px;
   padding: 3px;
   border-radius: 2px;
 
 }


  div#required {
  opacity: 1;
  padding: 0 5px 10px 5px;
  display: none;
  margin-top: 2em;
    margin-bottom: 2em;
  }
 :-moz-placeholder {
   /* Firefox 18- */
   color: #000;
 }
 
 input::placeholder {
   color: #000;
 }
 
 input.short {
   width: 1em;
 }
 
 #dotazform td {
   max-width: 252px;
   vertical-align: top;
 }
 
 #mytype {
   margin-left: 0;
   padding-left: 0
 }
 
 #regbutton {
   border: 0;
   width: auto;
   background: #75B338;
   color: #fff;
   padding: 10px 20px;
   font-size: 20px;
   font-weight: 800;
   text-transform: uppercase;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
 }
 
 #regbutton:hover {
   background: #59882a;
 }
 #oki {
 border: 3px solid #7AB23B;
 background: #d2fed2;
 color: #7AB23B;
 margin: 10px 0;
 padding:    20px;
 
}
#oki a{
  color: #7AB23B; 
}

#ko {
  border: 3px solid #7e1313;
  background: #c48c8c;
  color: #7e1313;
  margin: 10px 0;
  padding:    20px;
  
 }
 #ko a{
   color: #7e1313; 
 }

.singletermin {
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: block;
  border : 8px solid #343536;
  padding: 10px;
  float: left;
  width: 48%;
  margin-left: 0;
  margin-right: 0;  
  line-height: 1.8em;
  min-height: 155px;
  position: relative;
  }
  .singletermin:nth-of-type(2n + 2) {
  
    margin-left: 2%;
  margin-right: 2%;      
  }
 .singletermin h4 { font-size: 18px; margin: 0; line-height: 1; margin-bottom: 0.2em }
 .singletermin .detail{
   clear: left;
   display: block;
 }


 #content-right .singletermin{
    width: calc(100% + 50px);
    border: none;
    margin: 0 -25px -25px -25px;
    min-height: 120px;
 }
 #content-right .singletermin h4,  #content-right .singletermin span { padding-left: 25px; padding-right: 25px; }

 #content-right  .singletermin a.regmepls {
   margin-top: 20px;
 }

  .singletermin:hover {
    background-color: #2d2d2d;
  }
  .singletermin .largegreen{
    display: block;
  }
  .singletermin .largegreen p{
    color: #fff
  }
  #content-right  .singletermin .largegreen{
   padding-bottom: 50px;
  }
  .singletermin:hover a{ color: #fff }
.singletermin a:first-child { margin-right: 5px; }

 .singletermin a.regmepls {
   display:  block;
   background: #eedf22;
   color: #CD181F;
   font-weight: 800;
   text-align: center;
   text-transform: uppercase;
   margin: 10px -10px 0px -10px;
   padding: 10px 20px;
   position: absolute;
   bottom: 0;
   width: 100%;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;

 
 }

.singletermin a.regmepls:hover {
   color: #000;
   background: #dacf12 ;
}

div.greybordertxt {
    border: 20px solid #2d2d2d;
    position: relative;
    width : auto;
}
div.greybordertxt img{
  width: 50%;
  margin: 0;
  border: 0;
  }
.propo {
  floaT: right;
  display: block;
  background: #75B338;
  color: #fff;
  line-height: 40px;
  padding: 0 20px 0 15px;
     -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
}  
.propo:hover{
  color: #fff;
   background: #59882a;
}

 
 
 
.propo span {
  font-size: 130%;
  margin-right: 10px;
    line-height: 40px;
}

.kurzy-pro-trenery .project {
  width: 49%;
  margin-left: 0%;
  float: left;
 clear: left;
   background-position: bottom left;
}
.kurzy-pro-trenery  .project:nth-of-type(2n + 0) {
  clear: none;
  margin-left: 2%;
}
.kurzy-pro-trenery  .project > div {
 padding-bottom: 80px;
 padding-left: 20px;
 background: rgba(0,0,0,0.3);
}
 
.kurzy-pro-trenery  .project:nth-of-type(7) > div, .kurzy-pro-trenery  .project:nth-of-type(2) > div, .kurzy-pro-trenery  .project:nth-of-type(1) > div, .kurzy-pro-trenery  .project:nth-of-type(4) > div {
 background: rgba(0,0,0,0.0);
}

#menu li span {
    font-size: 90%;
    font-weight: normal;
    margin: -1px 0 0.5em 0px;
     display: none;  
    background: #75B338;
    position: absolute;
    z-index: 1000;
    padding-top: 5px;
}
#menu li span a{
  width:96%;
  margin: 0 2%;
  }
#menu li span a:hover{
  background: #59882a;
  color: #fff;
}
.partneri section img{
   display: block;
   float: none;
   margin: 0;
   padding: 0;
  }
  .partneri article div {
    padding: 0;
  }
  .partneri article   {
    margin-bottom: 15px;
    width: 48%;
    margin-lefT: 0;
    clear: left;
    float: left;
  }  
  .partneri:nth-of-type(2n+0) {
    clear: none;
    margin-lefT: 2%;
  }
  .datebox{
    padding-bottom: 0;
  }
  .miniboxxx a{
    color: #75B338
  }
  .kurz-intro + h3{ 
    margin-top: -20px;
  }
  .specializovany-kurz-1-v-1 + h3, .kurz-2 + h3, .kurz-4 + h3, .kurz-3 + h3 {
   margin-top: -20px;
  }
  .imgcontainer {
    background: #343536
  }
    .imgcontainer p {
    padding : 0 0.5em
  }
  #hederlogo a{ display: block; height: 100%; width: 100% }
  article.caption:before, article.caption:after,   article.caption div:before, article.caption div:after, 
  .hbox .mainclr:before,  .hbox .mainclr:after, .hbox .pparts:before,  .hbox .pparts:after  { display: none }
  #social { overflow: hidden; }
  #mini-menu li.nocontent a:first-child   { display: none!important; }
  
  
 .hbox {
      width: 32%;
    margin-left: 2%;
  }

 
.hbox:nth-of-type(3n+4) {  margin-left: 0%!important;  clear: left;}


  .homepage .hbox:first-of-type { margin-left: 0 }
  .homepage .miniboxxx {
    margin-bottom: 0em;
    padding-bottom: 1em;
    border-bottom: 0px dotted #736d67;
}
  .homepage  .hbox {
    background-repeat: no-repeat;
    background-position: center 45px;
    background-size: cover;
}
.homepage #homebox14 {
  background-position: center center;
}
.homepage #homebox15 {
  background-size: inherit;
  background-position: center center;
}





.homepage .hbox div:first-of-type {
    /*background: rgba(0,0,0,0.5) ;*/
   min-height: 243px
}

.homepage .inmail   {   }
.homepage .inmail h2   { margin: 0 0 17px 0 !important; }
 
.homepage .hbox .mainclr,  .homepage .hbox .pparts {  min-height: 0px!important; background: transparent!important }
a.inhomebox  {
  position: absolute;
  bottom: 0;
  background: #eedf22;
  color: #59882a;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  display: block;
  margin-left: -20px;
  font-size: 18px;
  text-transform: uppercase;
     font-family: 'Open Sans', sans-serif;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
   font-weight: 800;
}
a.inhomebox:hover  {
  color: #eedf22;
  background: #59882a;
}
.video div{
  padding: 0;
}
.video div h2 {
  margin: 0;
}
#ytch {
  border: none;
      margin-bottom: -5px;
}
.xhomepage .hbox h2   { color: #75B338}
.form-section mb10 { display: none; }




/* embedmail*/


   .mail div { margin: 0!important; padding: 0!important; }
   .homepage .inmail   { padding: 0!important; }

    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');
    #mlb2-4642631,
    #mlb2-4642631 *,
    #mlb2-4642631 a:hover,
    #mlb2-4642631 a:visited,
    #mlb2-4642631 a:focus,
    #mlb2-4642631 a:active {
        overflow: visible;
        position: static;
        background: none;
        border: none;
        bottom: auto;
        clear: none;
        cursor: default;
        float: none;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        text-indent: 0;
        text-transform: none;
        visibility: visible;
        white-space: normal;
        max-height: none;
        max-width: none;
        left: auto;
        min-height: 0;
        min-width: 0;
        right: auto;
        top: auto;
        width: auto;
        z-index: auto;
        text-shadow: none;
        box-shadow: none;
        outline: medium none;
    }
    
    #mlb2-4642631 a:hover {
        cursor: pointer !important;
    }
    
    #mlb2-4642631 h4 {
        font-weight: normal;
    }
    
    #mlb2-4642631 .subscribe-form {
        padding: 20px;
        border: 0px solid #000000 !important;
        background: #000000 none !important;
        border-radius: 0px !important;
        box-sizing: border-box !important;
    }

    
    #mlb2-4642631 .ml-block-form {
        margin-bottom: 0px;
    }
    
    #mlb2-4642631 .subscribe-form .form-section {
        margin-bottom: 20px;
        width: 100%;
        padding: 0 20px!important;
    }
    
    #mlb2-4642631 .subscribe-form .form-section.mb10 {
        margin-bottom: 10px;
        float: left;
    }
    
    #mlb2-4642631 .subscribe-form .form-section.mb0 {
        margin-bottom: 0px;
    }
    
    #mlb2-4642631 .subscribe-form .form-section h4 {
        margin: 0px 0px 10px 0px !important;
        padding: 0px !important;
        color: #fff !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 28px !important;
        line-height: 100%;
        text-align: left !important;
    }
    
    #mlb2-4642631 .subscribe-form .form-section p,
    #mlb2-4642631 .subscribe-form .form-section li {
        line-height: 150%;
        padding: 0px !important;
        margin: 0px 0px 10px 0px;
        color: #fff !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 14px !important;
    }
     #mlb2-4642631 .subscribe-form .form-section p {
       padding: 3px  0px!important;
        line-height: 100%!important;
        margin:  0px 0 3px 0 !important;       
     } 
    #mlb2-4642631 .subscribe-form .form-section a {
        font-size: 14px !important;

    }
    
    #mlb2-4642631 .subscribe-form .form-section .confirmation_checkbox {
        line-height: 150%;
        padding: 0px !important;
        margin: 0px 0px 15px 0px !important;
        color: #fff !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 12px !important;
        font-weight: normal !important;
    }
    
    #mlb2-4642631 .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"] {
        margin-right: 5px !important;
    }
    
    #mlb2-4642631 .subscribe-form .form-section .form-group {
        margin-bottom: 15px;
    }
    
    #mlb2-4642631 .subscribe-form .form-section .form-group label {
        float: left;
        margin-bottom: 10px;
        width: 100%;
        line-height: 100%;
        font-weight: bold;
        color: #fff !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 14px !important;
    }
    
    #mlb2-4642631 .subscribe-form .form-section .checkbox {
        width: 100%;
        margin: 0px 0px 10px 0px;
    }
    
    #mlb2-4642631 .subscribe-form .form-section .checkbox label {
        color: #fff !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 14px !important;
    }
    
    #mlb2-4642631 .subscribe-form .form-section .checkbox input {
        margin: 0px 5px 0px 0px;
    }
    
    #mlb2-4642631 .subscribe-form .form-section .checkbox input[type=checkbox] {
        -webkit-appearance: checkbox;
    }
    
    #mlb2-4642631.ml-subscribe-form .form-group .form-control {
        width: 100%;
        font-size: 13px;
        padding: 10px 10px;
        height: auto;
        font-family: Arial;
        border-radius: 0px;
        border: 1px solid #cccccc !important;
        color: #000000 !important;
        background-color: #FFFFFF !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        clear: left;
    }
    /*
    #mlb2-4642631.ml-subscribe-form button {
        border: none !important;
        cursor: pointer !important;
        width: 100% !important;
        border-radius: 0px !important;
        height: 45px !important;
        background-color: #eedf22 !important;
        color: #000000 !important;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 18px !important;
        text-align: center !important;
        padding: 0 !important;
        margin-top: 16px;
    }*/
#mlb2-4642631.ml-subscribe-form button {
     margin-left:  0px!important;
}
  a.inhomebox, #mlb2-4642631.ml-subscribe-form button  {
  position: absolute;
  bottom: 0;
  background: #eedf22;
  color: #59882a;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  display: block;
  margin-left: -20px;
  font-size: 18px;
  text-transform: uppercase;
     font-family: 'Open Sans', sans-serif;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
   font-weight: 800;
}
a.inhomebox:hover, #mlb2-4642631.ml-subscribe-form button:hover  {
  color: #eedf22;
  background: #59882a;
  cursor: pointer;
}
    #mlb2-4642631.ml-subscribe-form button.gradient-on {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
    
    #mlb2-4642631.ml-subscribe-form button.gradient-on:hover {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    }
    
    #mlb2-4642631.ml-subscribe-form button[disabled] {
        cursor: not-allowed!important;
    }
    
    #mlb2-4642631.ml-subscribe-form .form-section.ml-error label {
        color: red!important;
    }
    
    #mlb2-4642631.ml-subscribe-form .form-group.ml-error label {
        color: red!important;
    }
    
    #mlb2-4642631.ml-subscribe-form .form-group.ml-error .form-control {
        border-color: red!important;
    }
    
    @media (max-width: 768px) {
        #mlb2-4642631 {
            width: 100% !important;
        }
        #mlb2-4642631 form.ml-block-form,
        #mlb2-4642631 .subscribe-form {
            width: 100% !important;
        }
    }


/* embedmejl end */ 

#insidebox2 {
  padding: 0;
}    

.coerver .hbox {   margin-left: 2%; }
.coerver .hbox div:first-of-type {min-height: 240px; }
.coerver .hbox:first-of-type { margin-left: 0 }

#content-right-sticky-wrapper {  width: 30%; margin-right: 15px; }
#content-right-sticky-wrapper section#content-right {  width: 100% ; background: #000 }

#terminy{ position: absolute; padding-top: 50px; display: block; height: 50px; width: 50px; background: transparent; top: -60px }
.miniboxxx p:first-of-type {
  margin: 0 0 10px 0;
    max-height: 50px;
    overflow: hidden;
} 
h1 em { display: none }

.pobytovy-kemp-just-for-girls #social,
.pobytove-fotbalove-kempy #social,
.junior-akademie #social,
.akademie-detail  #social,
.kemp-detail #social,
.primestske-kempy #social, 
.vikendove-a-prazdninove-kempy #social, 
.play-like-the-stars-roadshow #social, 
.performance-academy #social, 
.first-skills #social, 
.junior-kemp #social,
.turnaje #social
{
    width: calc(70% - 60px);
 
 
}
.akademie-detail  .hibox a, .kemp-detail  .hibox a{
   margin: -25px -25px 25px -25px;
}   
.shortinput { width: 2em!important }

table.intext td { padding: 5px; }

#darida { display: none }

.homepage #darida{
  height: 90%;
  max-height: 90%;
 
  background: #fff;
  position: absolute;
  top: 170px;
  left: 50%;
  display: block;
  z-index: 900;
  border: solid 20px #fff;
  transform: translate( -50%, 0%);
 

  -webkit-transition: all ease 1s;
  -o-transition: all ease 1s;
  transition: all ease 1s;

}
.homepage #darida img{
  height: 100%;
}
#closeme {
  color: #59882a;
  font-size: 40px;
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#closeme:hover{
  color: #75B338;
}
.homepage #darida.closed {
  display: none;
}