 section  article { border: none; }
 section article { border: none; }
 section article:before, section article:after, section article div:before, section article div:after { display: none; }
 section, section#content  {    border: 20px solid #2d2d2d;
 
   position: relative; 
    margin: 20px;
    width: calc(100% - 40px);
   }
   section#content-right {
     margin-left: 0;
   }
   section#content-right article  h2:first-child {
     width: calc(100% + 50px);
     margin-left: -25px;
     margin-top: 15px;
   }
   section#content-right article:first-child  h2:first-child {
     width: calc(100% + 50px);
     margin-left: -25px;
     margin-top: -25px;
   }  
 section  h1 { margin: 0 20px 20px 20px  }   
 .hibox a {
   color: #CD181F;
   background: #eedf22;
   display: block;
   padding: 20px;
   margin: 0 -25px -25px -25px;
   text-align: center;
      font-family: 'Open Sans', sans-serif;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
   font-weight: 800;
   font-size: 25px;
 }
 .hiboxnot {
         color: #fff;
   background: #75B338; 
display: block;
   padding: 10px 20px;
   margin: 10px -25px -25px -25px;
   text-align: center;
      font-family: 'Open Sans', sans-serif;
   -webkit-transition: background ease 1s;
   -o-transition: background ease 1s;
   transition: background ease 1s;
   font-weight: 800;
   font-size: 20px;
 }
 .hibox a:hover{
     color: #fff;
   background: #75B338; 
 }
 img+h3 {
   margin-top: 0
 }
section#content-right  h2:first-child {
     width: calc(100% + 50px);
    background: #252525;
    display: block;
    color: #fff;
    color: #eedf22;
    font-family: 'Open Sans', sans-serif;
    margin: -25px -20px 20px -25px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
section h1, section article, section article div {
  padding-left: 0;
  padding-right: 0; 
  margin-left: 0;
}
.polovina, .tretina {
    margin-bottom: 10px;
}
 
.polovina, .tretina {
    width: 240px;
    float: left;
    margin-right: 20px;
    background: #7AB23B;
}
.newimg p {
    margin: 0;
    padding: 10px 10px 0 10px!important;
    clear: left;

}
.polovina {
  width: 48%!important;
  margin-right: 2%;
}
.tretina {
  width: 31%!important;
  margin-right: 2%;
      min-height: 410px;
}
.polovina img,  .tretina  img  {
    width: 100%!important;
}


.shortinput { width: 1em }

section:before, section > div:before {
   position: absolute;
   left: -10px;
   top: -10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 700;
 }
 
 section > div:before  {
   top: auto;
   bottom: -10px;
   -ms-transform: rotate(-90deg);
   /* IE 9 */
   -webkit-transform: rotate(-90deg);
   /* Safari */
   transform: rotate(-90deg);
 }
 
 section:after, section > div:after  {
   position: absolute;
   right: -10px;
   top: -10px;
   content: '';
   display: block;
   width: 20px;
   height: 20px;
   background: url('../images/corner.png') no-repeat;
   z-index: 900;
   -ms-transform: rotate(-270deg);
   /* IE 9 */
   -webkit-transform: rotate(-270deg);
   /* Safari */
   transform: rotate(-270deg);
 }
 
 section > div:after  {
   top: auto;
   bottom: -10px;
   -ms-transform: rotate(-180deg);
   /* IE 9 */
   -webkit-transform: rotate(-180deg);
   /* Safari */
   transform: rotate(-180deg);
 }

 .wrong {
    font-size: 120%;
    padding: 15px 15px;
    background: #F29C9C;
    border-radius: 3px;
    color: #970E0E;
}
.wrong a{
    color: #970E0E;
}
.wrong a:hover{
    color: #970E0E;
    text-decoration: none;
}

   .isok { font-size: 120%; padding: 15px 15px; background: #C9E7AB; border-radius: 3px; color: #243A0F}
   .wrong { font-size: 120%; padding: 15px 15px; background: #F29C9C; border-radius: 3px; color: #970E0E}   
   .wrong a { font-weight: bold; color: #970E0E;  text-decoration: underline  }

    .inimage {float: left; width: 300px; margin-left: 30px; margin-top: -50px;}
    .ob { border-bottom: 1px solid  #243A0F; font-weight:  bold;  } 
    .tablog td {  padding: 3px 10px;  }
    .isok a {  color: #243A0F }
    .thisismine { font-size: 120%; padding: 10px 15px 10px 10px; background: #C9E7AB; border-radius: 3px; color: #243A0F}

 @media screen and (max-width:800px) {   
  section#content {padding: 20px 0 0 0!important;}
 }