 html, body {
     /*   overflow: hidden;
     height: 100%;
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;*/
     margin: 0;
     padding: 0;
  
     background: #000 url('../images/background.jpg') no-repeat center top;
   
 }
 body { border:  1px solid #000}
 * {
     box-sizing: border-box;
 }
 #langs { display: none; }
 #wrapper {
     margin: 0;
     padding: 0 0 0px 0;
     /*   perspective: 1px;
     -webkit-perspective: 1px;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
     height: 100%;
     overflow-y: scroll;
     overflow-x: hidden;*/
    margin: 0 auto;
    width: 1250px;
    background: #111413;
     position: relative;
   
 }
 
 header, #main {
     position: relative;
     width: 100%;
     box-sizing: border-box;
     -webkit-transform-style: inherit;
     transform-style: inherit;
     background: #111413;
 }
 
 #main {
     
    background: #111413  ;
    background-size: 50px;
     min-height: calc( 100vh - 466px );
     border-top: 0px solid white;
     width: 1250px;
     margin: 0 auto;
clear: both;
 }
 
 header {
     height: 1000px;
     font-size: 175%;
     color: #fff;
     width: 200%;
     /*
     -webkit-transform: translateZ(-1px) scale(1);
     transform: translateZ(-1px) scale(1);
     margin-top: -240px;
     margin-left: -50.5%;
     background-size: cover;
     display: none;
     */
 }
 
 footer {
     background: #111413;
     height: 50px;
     color: #fff;
     border-top: 1px solid #111413;
 }
 
 nav {
     background: #111413 ;
     height: 138px;
     width: 1250px;
     /*left: 50%;
     transform: translateX(-50%); 
     z-index: 999;
     top:  30px;*/
     color: #fff;
     position: relative;
     margin: 30px auto 0 auto;
     border-top: 1px solid #111413; 
     }
     nav:after {
         content: '';
         display: block;
         position: absolute;
         right: 20px;
         top: 10px;
         z-index: 200;
         background:  url('../images/official-partners.png') no-repeat right center;
         width: 120px;
         height: 65px;
 
     }
     nav:before {
         content: '';
         display: block;
         position: absolute;
         right: 150px;
         top: 10px;
         z-index: 200;
         background:   url('../images/header-logo-2.gif') no-repeat left center;
         width: 120px;
         height: 65px;
 
     }     
     section { background: #000 }
      
     .no-js #loader { display: none;  }
     .js #loader { display: block; position: absolute; left: 100px; top: 0; }
     .se-pre-con {
         position: fixed;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
         z-index: 9999;
         background:  url('../images/loader.gif') no-repeat center center;
         background-size: 50px;
     }