 #overslide {
  height: 250px;
}
#slideshow {
  height: 210px;
}
article {
   width: 49%;
   border: 20px solid #2d2d2d;
   float: left;
   padding: 0;
   margin-left: 2%;

   margin-bottom: 25px;
   clear: none;
 }
 article div{
  padding: 5px 20px  ;
     min-height: 250px;
 }
 article:nth-of-type(2n+1) {
   margin-left:  0px;
   clear: left;
 }
 
article.reference { 
  padding-top: 45px;
}
article.reference div h2:first-child { margin-top: -50px; margin-left: -200px; }
article.reference div{
  min-height: 220px;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-size: auto 100%;  
  background-color: #000;
  padding-left: 200px;
} 
article.reference1 div{
  background-image : url('../images/ref/osvaldoardiles.png');
}
article.reference2 div{
  background-image : url('../images/ref/gerardhoullier.png');
}
article.reference3 div{
  background-image : url('../images/ref/carlosparriera.png');
}
article.reference4 div{
  background-image : url('../images/ref/hurst.png');
}
article.reference5 div{
  background-image : url('../images/ref/klinsmann.png');
}
article.reference6 div{
  background-image : url('../images/ref/muelensteen.png');
}
article.reference7 div{
  background-image : url('../images/ref/collins.png');
}
article.reference8 div{
  background-image : url('../images/ref/brady.png');
}

 @media screen and (max-width: 1000px) {  
     
     .reference {  width: 100%!important;  margin: 15px 0 0 0px!important;  }
   
     
 }