                                                                      
 @media screen and (max-width: 1380px) {  
  #langs {  right: 10px;   top: 10px;  }
  #langs  span, #langs  p.span { 	margin-top: 0px; } 
 } 

 
 @media screen and (max-width: 1230px) {  
    section , footer div, #wrapper, nav { width: 100%; padding-left: 1%;  padding-right: 1%;   }
    #slideshow, section#content , #main { width: 100%!important }
    nav div { width: 100%; padding-left: 1%; padding-right: 1% }
     
    section article#randomrf { width: 70%!important ; margin-right: 0!important } 
    h2#homeh2, section h1 {  width: auto; left: 0%!important ;  margin-left: 0px!important ; } 
    #slideshow .slide .caption { max-width: 60%; left: auto; height: 100%; width: 60%!important;  top: 0!important;   right: 0%!important;  margin-left: 0!important; padding: 0 25px!important; }       
   section, section#content { margin: 20px;   width: calc(100% - 40px)!important; }
    .homepage section#content {padding:   0!important;}
 }
 @media screen and (max-width: 1100px) {  
   #menu-sticky-wrapper { height: auto!important }
    nav {   height: 135px;}
  .homepage  .hbox { 
    background-size:  cover;
 
}
.homepage #homebox15 {
  /*background-position: left 45px*/
}
}
 @media screen and (max-width: 1000px) {  
 
    #langs {   right: 5px;    top: 10px; }
    section article.coerver4 h2 { margin-bottom: 150px!important; }
 
  } 


 @media screen and (max-width: 900px) {  
    #menu{  display: none!important;  }
    #startmenu { display: block;  }
    section  {  margin-top: 20px; }
    #social  {  margin-top:  0px; }
    .hbox { width: 49%!important;  margin-left: 0!important; }
   .hbox:nth-of-type(2n+2) {  margin-left: 2%!important;   }
   .hbox:nth-of-type(3n+4) {  margin-left: 2%!important;  clear: none!important}
    .hbox:nth-of-type(2n+1) {  clear: left!important }
     #hederlogo, nav {   background: transparent; height: 60px!important;}
    #startmenu { top: -20px;  } 
    nav:before, nav:after  { display: none }    
 
 } 
 @media screen and (max-width:800px) {   
  section#content-left, section#content-right { width: 45% }
  section#content-left img, section#content-right img { width: 100%!important }
    #slideshow .slide .caption { max-width: 75%; left: auto; height: 100%; width: 75%!important;  top: 0!important;   right: 0%!important;  margin-left: 0!important; padding: 0 25px!important; }       
   .hbox { width: 100%;   margin-left:0; }
   .hbox div {   min-height: auto;  }
 
   section h2 { padding-top: 0}
    #overslide, section, #social, section article, section#content {  margin: 20px 0 0 0;   width: 100%!important; }
    #overslide { padding: 20px!important; }
    #slideshow {   height: 210px!important;}
     #overslide  { height: 249px!important }
     #slideshow p, #slideshow ul { display: none; }
    #slideshowmover, #slideshowleftmover {   top: 80px; }

   

 } 
  
  @media screen and (max-width: 600px) {  
  
    .hbox { width: 100%!important;  margin-left: 0!important; float:none!important }
    .hbox:nth-of-type(0n+2) {  margin-left: 0%!important; }
      #slideshow .slide .caption { display: none!important; }
   #slideshowmover, #slideshowleftmover {  top: 100px!important;  }
   #hederlogo, nav {   background: transparent; height: 50px;}
   .project > div {     padding-left: 20px;  background: rgba(0,0,0,0.7) }
   section, #social { width: 100%!important; margin-top: 20px;     margin-top: 15px; }
    .hbox { margin: 15px 0 0 0!important; }
   .hbox:nth-of-type(2n+2) {  margin-left: 0%!important; }
   .hbox:nth-of-type(3n+4) {  margin-left: 0%!important;   }    
    
   .singletermin {
    margin-left: 0%!important;
    margin-right: 0%!important;
}
.singletermin {
 
    float: none;
    width: 100%;
    min-height: 190px;
 
    height: auto;
    padding-bottom: 50px;
}
section#content-left {
  width: calc(70% - 40px);
  padding: 25px 10px 25px 10px;
}
.imggal {
  width: 100%;
  height: calc(100vw /2);
 
}


 } 
   @media screen and (max-width: 500px) {  
    #homeh2 + article, section article#randomrf { widtH: 100%!important;  padding-left: 0; padding-right: 0; }
    .refssidebox {  width: 100%!important; margin-left: 0!important; float: none!important; height: calc(50vw) !important;     }
    section article#randomrf h3 {    top: 0px!important;  }
     .refssidebox:nth-child(5) {  display: none!important; }
     footer span { width: 100%!important ; clear: both!important; position: relative!important; float: none!important;  }
     footer span.right { right:auto!important; bottom: auto!important; margin-top: 20px!important; }
     footer { height: auto!important;  }
     .fakeh2, #content-right h3,  section article#randomrf h3 { position: relative; left: 0!important }
     section#content {  padding: 0px;  margin-top: 20px;}
#logo {     left: 5%;   margin-left: 0px; }
 } 
