 body {
font-family:  sans-serif;
 color: #fff;
 font-size: 90%;
 background-color: #000;
}
 
a{
	color:  #75B338;
}
a:hover{
 color:  #75B338!important;
 text-decoration: none;
}
p {margin:0; padding:0; text-align: left}
 
h2{
 color: #75B338;           
 font-size: 190%;
 _font-size: 160%;
  font-weight: bold;
  font-style: italic;
   text-transform: uppercase;  
 margin-top: 0;                          
 margin-bottom: 0.5em;
font-family:  sans-serif;
}
#sidebox h2{
 font-size: 120%;
}
h3{
  font-size: 130%;
  font-weight: normal;
  color:  #75B338;
}
.minibox h3{
   font-family:  sans-serif;
} 