/**
 * SETUP THESE
*/
#javascript_calendar /* basic colors */
{
	color: #333;
	background: #FFF8EF;
	border: solid 3px #FFD29D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#javascript_calendar table
{
	background: #FFF8EF;
}
#javascript_calendar table thead, #javascript_calendar table thead a /* header colors */
{
	font-size: 1.2em;
	/*color: #4B646C;
	background: transparent;*/
}
#javascript_calendar select /* header colors */
{
	font-size: 0.8em;
}
#javascript_calendar table thead th.dayname
{
	font-size: 0.8em;
	color: #F7931D;
	background: #ffe3c1;
}
#javascript_calendar table thead th a:hover
{
	color: #fff !important;
}
#javascript_calendar table tfoot a:hover
{
	color: #fff !important;
	background: transparent;
}
#javascript_calendar table tfoot, #javascript_calendar table tfoot td, #javascript_calendar table tfoot a /* footer colors */
{
	/*color: #4B646C;
	background: #AFD4D8;*/
	text-align: center;
}
#javascript_calendar table tr
{
	background: transparent !important;
}
#javascript_calendar td, #javascript_calendar th /* cell size and fonts */
{
	width: 30px !important;
	height: 30px !important;
	line-height: 30px !important;
	text-align: center;
	border: solid 1px #FFD29D;
}
#javascript_calendar table tbody td a /* day cell colors */
{
	display: block;
	width: 30px !important;
	height: 30px !important;
	color: #333;
	background: #fff;
}
#javascript_calendar table td a:hover
{
	color: #fff !important;
	background: #C0C0C0 !important;
}
#javascript_calendar table td a.selected /* selected day colors */
{
	font-weight: bold;
	color: #000;
	background: #fff;
}
#javascript_calendar .non_selectable
{
	text-decoration: line-through;
	background: #f2f2f2;
}

#javascript_calendar .no_trips
{
	color: #fff;
	background: #f33;
}
#javascript_calendar a.trips
{
	background: #69E068;
}

/**
 * LEAVE THESE UNALTERED
*/
#javascript_calendar
{
	text-align: center;
	font-family: sans-serif;
}
#javascript_calendar iframe
{
	display: none;
	display/**/: block;
	_position: absolute;
	_top: 0;
	left: 0;
	z-index: -1;
	filter: mask();
	_width: 3000px;
	_height: 3000px;
	border: none;
}
#javascript_calendar table
{
	margin: 0;
	border-collapse: collapse;
}
#javascript_calendar a
{
	text-decoration: none;
}
#javascript_calendar table td, #javascript_calendar table th
{
	margin: 0px;
	padding: 0px;
}
#javascript_calendar .float_left
{
	float: left;
}
#javascript_calendar .float_right
{
	float: right;
}
#javascript_calendar .clear_both
{
	clear: both;
	height: 0px;
	font-size: 0px;
}
.clickable, .date
{
	cursor: pointer;
}