* {
  box-sizing: border-box;
 
}
html {
  overflow-y: scroll;
}
html, body {

}
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-areas:
  'logo login login login login login login'
  'nav section section section section section section'
  'footer  footer footer footer footer footer footer';
  grid-template-areas:
    'logo login login login login login login'
    'nav section section section section section section'
    'footer  footer footer footer footer footer footer';
  grid-gap: 0px;

}
 
body.full {
  display: grid;
  grid-template-areas:
    'logo login login login login login'
    'section section section section section section'
    'footer  footer footer footer footer footer';
  grid-gap: 0px;
}

#logo {
  grid-area: logo;
  background: #000;
  text-align: left;
  color: rgb(240, 240, 240);
  padding: 0 25px;
  line-height: 80px;
  background-image: url('../images/hand.svg');
  padding-left: calc(5% + 45px);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 5% center;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  max-width: 240px;
  min-width: 240px;
}

#login {
  grid-area: login;
  background: #404040;
  padding: 0 25px;
  line-height: 80px;
  color: #e7e7e7;
  text-align: right;
  min-width: calc( 100vw - 19px - 240px );
}

footer {
  grid-area: footer;
  background: #404040;
  height: 100px;
  color: rgb(240, 240, 240);
  padding: 25px;
}

section {
  grid-area: section;
  padding: 25px;
  min-height: calc(100vh - 80px - 100px);
  position: relative;
}

#sidebar.active {
  display: none;
}

#sidebar {
  grid-area: nav;
  background: #17a2b8;
  display: block;
  max-width: 240px;
  min-width: 240px;
}

.far span,
.fas span,
.fa span,
.fab span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: normal;
}

a.far:hover,
a.fas:hover,
a.fa:hover {
  text-decoration: none;
  font-weight: bold;
}

.fa-user-circle {
  font-weight: 300;
}

.fa-plus-circle {
  font-size: 13px;
  float: right;
}

.fa-plus-circle span {
  padding-left: 0.3em;
}

a {
  color: #17a2b8;
}

a:hover {
  color: #106f7e;
}

header a {
  color: #fff
}

header a:hover {
  color: #c0c0c0
}

h1,
h1 {
  font-size: 1.5rem;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebarCollapse {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  background: #138496;
  display: block;
  
}

nav a span {
  display: bllock-inline;
}

nav ul.components {
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: block;
  position: relative;
}

nav ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  clear: left;
  width: 100%;
  position: relative;
}

.lang1 {  
  position: absolute;
  right: 0;
  width: 2em;
  display: block;
  z-index: 1000;
  top: 0;
}

/*
nav ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #106f7e;
}
*/
li.active a {
  background: #106f7e;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #138496;
}

nav ul li a:hover {
  color: #daf6fa;
  background: #106f7e !important;
}

nav li a:before {
  margin-right: 10px;
}

h1 {
  color: #1cc7e2;
  color: #fff;
  margin-top: -78px;
  margin-bottom: 55px;
  width: 70%;
}
.full h1 {
   margin-left: 25%;
}




/*
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}*/


 .fa-plus-circle {
  font-size: 20px;
}
.around {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
}
table td.center, table th.center {
  text-align: center;
}
table td.short, table th.short {
  width: 60px;
}
table td.middle, table th.middle {
  width: 200px;
}
 
#pages .fa-unlock { color: #c0c0c0 }
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.06);
}
#logo a{
  color: #fff;
}

.input-group-prepend, .input-group-text {
   min-width: 200px; 
   z-index: 2;
}

#pagesnew .input-group-prepend,  #pagesnew .input-group-text {
   min-width: 160px;
}


.row fieldset {
  margin-bottom: 1em;
  min-height: 50px;
 
}
.row fieldset:nth-of-type(even) {
  padding-left: 2em!important;
  flex-grow: 1!important;
}
.row fieldset:nth-of-type(odd) {
  padding-right: 2em!important;
  flex-grow: 1!important;
}

.row .contentItem fieldset:nth-of-type(odd), 
.row .contentItem fieldset:nth-of-type(even), 
.row .myItem fieldset:nth-of-type(odd), 
.row .myItem fieldset:nth-of-type(even)
{
  padding-right: 10px!important;
  padding-left: 10px!important;
}


#home .row fieldset.col:nth-of-type(even) {
  flex-grow: 1!important;
}
#home fieldset.col:nth-of-type(odd) {
  flex-grow: 2!important;
}

.tab-pane {
  padding-top: 3em;
}
.sender {
  clear: both;
  padding-top: 2em;
  width: 100%;
  padding-left: 0;
}
.itembox{
  width: 80px;
  height: 100px;
  font-size: 40px;
  background: #e9ecef;
  text-align: center;
  position: relative;
  padding: 62px 10px 10px 10px!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
 
  color: #495057;
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}
.itembox:hover{
  cursor: pointer;
  background: #ebedf0;
  border: 1px solid #ced4da;
}
.itembox:before{
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.itembox span{
  font-size: 13px;
  color: #404040;
  line-height: 12px!important;
  font-style: normal;
  display: block;
}

#noTextIco{
  display: none;
  clear: left;
  }

 .special strong {
   display: block;
   float: left;
   min-width: 170px;
   margin-right: 5px;
   line-height: 22px;
 } 
 .contentItem fieldset, .myItem fieldset {
  background: #f6f8fa;
  padding:  10px!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin-bottom: 2em;
 }
 .contentItem {
   clear: both;
   position: relative;
 }
 #myContents {
   position: fixed;
 }

#myTabContent {
  position:relative;
}

 .supercol {
   position: sticky;
 
   height: auto;
   right: 10px;
   top: 10px;
 
 }
 .mainclr {
   clear: both;
 }
 fieldset.col{
  
   position: relative;
 }
 .plus{

   cursor: pointer;
 }
 .newjob {
  clear: both;
  width: 100%;
  padding: 5px 0 10px 0;
 }
 .newjob .plus {
   float: none;
 }
 .hereActive , .hereActive:hover {
   background: #007bff!important;
   color: #fff!important;
   padding:   6px 16px 6px 6px!important;
   border-radius: 15px!important;
 }
 .service {
  width: 100px;
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 25px;
  text-align: right;
}
.noneorder{
  font-size: 25px;
  text-align: right;
}
.service a {
  cursor: pointer;
}
 
.contentItem fieldset  h5  , .myItem fieldset  h5  {
color: #495057;
text-align: center;
white-space: nowrap;
background-color: #e9ecef;
border-bottom: 1px solid #ced4da;
width: calc( 100% + 20px ) ;
text-align: left;
padding: 10px;
margin: -10px -10px 10px -10px;
} 
.contentItem fieldset  h5 span, .myItem fieldset  h5 span {
  margin-left: 10px;
}
.nic {
  display: inline-block;
  width: 22px;
  height: 16px;
}
 fieldset {
  position: relative;
 }
 .service2 {
   position: absolute;
   top: 8px;
   right: 110px;
 }
 .custom-file-label::after {
  content: "Vyber"!important;
}
input[type="file"].non-empty + label        { color: green; }
.input-group mb-3 {
  min-width: 100%;
}
.form-control input, .form-control select {
  width: 100%;
  border: none;
}

.form-control.two-inputs input {
  width: 48%;
}
.form-control.two-inputs input:first-of-type {
  border-right: 1px solid #ced4da;
}
.form-control.two-inputs select{
  width: 48%;
}
.form-control.two-inputs select:first-of-type {
  border-right: 1px solid #ced4da;
}

.form-control.three-inputs input {
  width: 33%;
}
.form-control.three-inputs select{
  width: 32%;
}
.galphoto {
  float: left;
  padding: 10px;
 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
 
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: 0 5px 5px 0;
} 

#toApp{
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e7e7e7;

}
a.aintable {
  display: block;
  padding: .45rem;
  height: 100%;
  text-decoration: none!important;
  color: #404040
  
}
a.aintable:hover {
  font-weight: bold;
  text-decoration: none!important;
  color: #000

}
td.tableina {
  padding: 0;
}
.table td, .table th {
  padding: .55rem;
  vertical-align: middle;
}
.input-group-append .input-group-text {
  min-width: auto;
}
.page-link:hover {
  z-index: 2;
  color: #0056b3!important;
  text-decoration: none;
  background-color: #e9ecef!important;
  border-color: #dee2e6!important;
}
.custom-file-label {
 
  left: 120px;
 
}
#regz2new .row fieldset:nth-of-type(odd) {
  padding-right: 2em!important;
  flex-grow: 2!important;
}
#regz2new .row fieldset:nth-of-type(even) {
  padding-left: 2em!important;
  flex-grow: 3!important;
}
.ko {
 
}